:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* Small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}


/* Medium */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}


/* Large */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* End Global Rules */


/* start heading */

header {
    padding: 20px;
    position: absolute;
    width: 100%;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid white;
    position: relative;
}

header .container .logo img {
    width: 100px;
    margin-top: 10px;
}

header .container .nav ul {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: white;
    font-weight: normal;
    font-size: normal;
    line-height: 1.6;
    list-style: none;
}

header .container .nav ul li {
    margin-left: 20px;
    margin-top: 10px;
}

header .container .nav .active {
    color: var(--main-color);
}

header .container .nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var (--main-color);
}

header nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
}

header nav .form i {
    color: white;
    position: absolute;
    font-size: 20px;
    top: 75%;
    transform: translateY(-50%);
    right: 0;
    border-left: 1px solid white;
}


/* end heading */


/* start landing */

.landing {
    min-height: 100vh;
    background-image: url("../imgs/owl-landing.jpg");
    background-color: #1f2021;
    background-size: cover;
    position: relative;
}

.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.landing .text {
    position: absolute;
    z-index: 2;
    color: white;
    top: 50%;
    width: 50%;
    transform: translateY(-50%);
    padding: 50px;
    left: 0;
    background-color: var(--transparent-color);
}

.landing .text h1 {
    font-weight: normal;
    padding: 20px;
    line-height: 1.6;
    margin-bottom: 5px;
}

.landing .text p {
    padding: 20px;
    margin-bottom: 10px;
}

.landing span {
    position: absolute;
    color: white;
    z-index: 2;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 20px;
    font-weight: 800;
}

.landing .bullets {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    display: flex;
    bottom: 30px;
}

.landing .bullets .center {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.landing .bullets li {
    border: 1px solid white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    list-style: none;
}


/* end landing */


/* start services */

.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.main-heading {
    text-align: center;
}

.main-heading h1 {
    font-weight: normal;
    font-size: 40px;
    letter-spacing: .5px;
    text-transform: uppercase;
    margin-bottom: 70px;
    position: relative;
}

.main-heading h1::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: black;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.main-heading h1::after {
    content: "";
    position: absolute;
    border: 2px solid black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    bottom: -30px;
    transform: translateX(-50%);
    left: 50%;
    background-color: white;
}

.main-heading p {
    width: 500px;
    margin: 0 auto 100px;
    color: #777;
    line-height: 2;
    max-width: 100%;
}

.services .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 50px;
}

.services .content h1 {
    color: var(--main-color);
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.services .content p {
    color: #777;
    width: 400px;
    line-height: 2;
}


/* end services */


/* start design */

.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../imgs/mob_files/design-features.jpg);
    background-size: cover;
    height: 600px;
    position: relative;
    display: flex;
    text-align: center;
    overflow: hidden;
}

.design::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.design .mobile {
    bottom: -150px;
    left: 120px;
    position: relative;
    z-index: 2;
    flex: 1;
    left: -60px;
}

.design .text {
    color: white;
    padding: 60px;
    background-color: var(--transparent-color);
    position: relative;
    z-index: 2;
    flex: 1;
}

.design .text h1 {
    font-weight: normal;
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    font-size: 25px;
}

.design .text ul li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    font-size: 20px;
}


/* end design */

.portofolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.main-heading {
    text-align: center;
}

.main-heading h1 {
    font-weight: normal;
    font-size: 40px;
    letter-spacing: .5px;
    text-transform: uppercase;
    margin-bottom: 70px;
    position: relative;
}

.main-heading h1::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: black;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.main-heading h1::after {
    content: "";
    position: absolute;
    border: 2px solid black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    bottom: -30px;
    transform: translateX(-50%);
    left: 50%;
    background-color: white;
}

.main-heading p {
    width: 500px;
    margin: 0 auto 100px;
    color: #777;
    line-height: 2;
    max-width: 100%;
}

.portofolio UL {
    display: flex;
    text-align: center;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    line-height: 2;
    font-size: 20px;
}

.portofolio UL li {
    margin-left: 15px;
}

.portofolio .first {
    background-color: var(--main-color);
    color: white;
}

.portofolio .imgs-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.portfolio .imgs-container .box {
    overflow: hidden;
    position: relative;
}

@media (min-width: 767px) {
    .portofolio .imgs-container .box {
        flex-basis: 50%;
    }
}

@media (min-width: 1199px) {
    .portofolio .imgs-container .box {
        flex-basis: 25%;
    }
}

.portofolio .imgs-container .box img {
    max-width: 100%;
    transition: 0.3s;
}

.portofolio .imgs-container .box .caption {
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: white;
    width: 100%;
    transition: 0.3s;
    bottom: -100%;
}

.portofolio .imgs-container .box:hover img {
    transform: rotate(3deg) scale(1.1);
}

.portofolio .imgs-container .box:hover .caption {
    bottom: 0;
}

.portfolio .imgs-container .box .caption h4 {
    font-weight: normal;
    margin-bottom: 10px;
}

.portfolio .imgs-container .box .caption p {
    color: var(--main-color);
}

.portofolio .more {
    background-color: var(--main-color);
    width: fit-content;
    line-height: 2;
    text-transform: uppercase;
    display: block;
    margin: 30px auto;
    padding: 15px 20px;
    color: white;
}


/* start video */

.video {
    position: relative;
    margin-bottom: 50px;
}

.video::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 60%);
    width: 100%;
    height: 100%;
}

.video video {
    width: 100%;
}

.video .text {
    position: absolute;
    color: white;
    background-color: var(--transparent-color);
    width: 100%;
    height: 200px;
    text-align: center;
    padding: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.video .text h2 {
    font-weight: normal;
    margin-bottom: 20px;
}

.video .text p {
    margin-bottom: 20px;
}

.video .text button {
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 15px;
}


/* end video */


/* start about */

.about {
    padding: var(--section-padding);
    text-align: center;
    overflow: hidden;
}

.about img {
    position: relative;
    bottom: -230px;
    max-width: 100%;
    margin-top: -200px;
}


/* end about */


/* start stat */

.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../imgs/mob_files/design-features.jpg);
    background-size: cover;
    text-align: center;
    position: relative;
}

.stats::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 60%);
    width: 100%;
    height: 100%;
}

.stats .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.stats .container .box {
    color: white;
    background-color: var(--transparent-color);
    padding: 50PX;
}

@media (max-width: 767px) {
    .stats .container .box {
        flex-basis: 100%;
    }
}

@media (min-width: 768px) {
    .stats .container .box {
        flex-basis: 50%;
    }
}

@media (min-width: 992px) {
    .stats .container .box {
        flex-basis: 25%;
    }
}

.stats .container .box .number {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}


/* end stat */


/* Start Skills */

.our-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.our-skills .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (min-width: 992px) {
    .our-skills .container>div {
        flex-basis: 45%;
    }
}

.our-skills .container .testimonials {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.our-skills .container .testimonials h3 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
}

.our-skills .container .testimonials p {
    color: #777;
    margin-bottom: 65px;
}

.our-skills .container .testimonials .content {
    display: flex;
    margin-bottom: 50px;
}

.our-skills .container .testimonials .content img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-right: 40px;
}

.our-skills .container .testimonials .text {
    justify-content: center;
    text-transform: uppercase;
    line-height: 1.8;
    border-bottom: 1px solid var(--transparent-color);
}

.our-skills .container .testimonials .text p {
    text-align: end;
    margin-right: 10px;
}

.our-skills .testimonials .bullets {
    display: flex;
    justify-content: center;
}

.our-skills .testimonials .bullets li {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    list-style: none;
}

.our-skills .testimonials .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.our-skills .container .skills {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.our-skills .container .skills h3 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;
}

.our-skills .container .skills p {
    color: #777;
    margin-bottom: 70px;
}

.our-skills .container .prog-bar h4 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 20px;
}

.our-skills .skills .prog-bar .prog {
    background-color: #dedadc;
    height: 30px;
    margin-bottom: 40px;
}

.our-skills .skills .prog-bar .prog span {
    position: relative;
    height: 100%;
    background-color: var(--main-color);
    display: block;
}

.our-skills .skills .prog-bar .prog span::before {
    content: attr(data-progress);
    position: absolute;
    width: 40px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px 0;
    top: -40px;
    right: -18px;
}

.our-skills .skills .prog-bar .prog span::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: black transparent transparent transparent;
    border-width: 10px;
    top: -15px;
    right: -6px;
}


/* end skill */


/* Start Quote */

.quote {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    margin-bottom: 70px;
    background-image: url(../imgs/quote.jpg);
    background-size: cover;
    position: relative;
}

.quote::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 75%);
}

.quote .container {
    text-align: center;
    color: white;
    position: relative;
}

.quote .content p {
    font-size: 30px;
    margin-bottom: 15px;
}

.quote .content h2 {
    font-weight: normal;
    font-size: 20px;
}


/* end Quote */


/* start pricing */

.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.pricing .plans .plan {
    background-color: #fcfcfc;
    text-align: center;
    border-top: 1px solid var(--main-color);
}

.pricing .plans .plan .head h3 {
    font-weight: normal;
    text-transform: uppercase;
}

.pricing .plans .plan .head {
    text-align: center;
    margin: 30px;
    border-bottom: 1px solid var(--main-color);
}

.pricing .plans .plan .head span {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 40px;
}

.pricing .plans .plan .head span::before {
    content: "$";
    position: relative;
    font-size: 25px;
    font-weight: normal;
    top: -40px;
}

.pricing .plans .plan .head span::after {
    content: "/mo";
    position: relative;
    font-weight: bold;
    margin-right: 50px;
    font-size: 25px;
}

.pricing .plans .plan ul {
    margin-bottom: 30px;
}

.pricing .plans .plan ul li {
    list-style: none;
    text-decoration: none;
    padding: 20px;
    line-height: 1.6;
    font-size: 17px;
    border-bottom: 1px solid var(--main-color);
}

.pricing .plans .plan .foot a {
    color: purple;
    text-decoration: none;
    border: 1px solid var(--main-color);
    padding: 15px;
    background-color: #fcfcfc;
}

.pricing .text h4 {
    text-align: center;
    margin-top: 80px;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 1.8;
}

.pricing button {
    display: block;
    width: fit-content;
    margin: 20px auto;
    background-color: var(--main-color);
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 40px;
}


/* end pricing */


/* start subiscribe */

.subscribe {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../imgs/subscribe.jpg);
    position: relative;
}

.subscribe::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 75%);
}

.subscribe .container {
    text-align: center;
    position: relative;
}

.subscribe .container input {
    height: 40px;
    margin-bottom: 30px;
}

.subscribe .container input[ type="email"] {
    background-color: transparent;
    width: 300px;
    font-size: 20px;
    font-weight: normal;
    border: 1px solid white;
}

.subscribe .container input[type="submit"] {
    background-color: var(--main-color);
    color: white;
    font-size: 20px;
}

.subscribe .container .text {
    color: white;
    font-size: 20px;
}


/* start subiscribe */


/* start contact */

.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.contact .content {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .contact .content {
        flex-direction: column;
    }
}

.contact .content form {
    flex-basis: 70%;
}

.contact .content form .main-input {
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ccc;
}

.contact .content form .main-input:focus {
    outline: none;
}

.contact .content form .main-input[type="message"] {
    height: 200px;
}

.contact .content form input[type="submit"] {
    background-color: var(--main-color);
    padding: 10px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    margin-left: auto;
    border: none;
}

.contact .content .info {
    flex-basis: 25%;
}

.contact .content .info h4 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
}

.contact .content .info .phone {
    display: block;
    color: #777;
    margin-bottom: 10px;
}

.contact .content .info h4:nth-of-type(2) {
    margin-top: 90px;
}

@media (max-width: 767px) {
    .contact .content .info h4:nth-of-type(2) {
        margin-top: 30px;
    }
}

.contact .content .info address {
    color: #777;
    line-height: 2;
}

@media (max-width: 767px) {
    .contact .content .info address {
        margin-bottom: 40px;
    }
}


/* end contact */


/* start footer */

.footer {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../imgs/subscribe.jpg);
    position: relative;
    margin-top: 70px;
}

.footer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 75%);
}

.footer .container {
    text-align: center;
    position: relative;
}

.footer .logo {
    margin-bottom: 30px;
}

.footer p {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}

.footer p span {
    color: var(--main-color);
}

.footer h2 {
    font-weight: normal;
    font-size: 20px;
    color: white;
    position: relative;
    margin-bottom: 30px;
}

.footer h2::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: white;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}


/* end footer */